<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/main.css" rel="stylesheet">
  <script defer src="/assets/htmx.min.js"></script>
  <script defer src="/assets/alpinejs.min.js"></script>
  <title>Document</title>
</head>

<body x-data="{ modalOpen: false }" :class="modalOpen ? 'overflow-hidden' : ''"
  class="bg-neutral-50 text-black selection:bg-teal-300 dark:bg-neutral-900 dark:text-white dark:selection:bg-pink-500 dark:selection:text-white">
  {% include "Navbar.html" %}
  {% block main %}
  <p>Placeholder content</p>
  {% endblock %}
</body>

</html>