{% if cart.cart_items.len() == 0 %}
<div id="modal-body" class="mt-20 flex w-full flex-col items-center justify-center overflow-hidden">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
    class="h-16">
    <path stroke-linecap="round" stroke-linejoin="round"
      d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
  </svg>
  <p class="mt-6 text-center text-2xl font-bold">Your cart is empty.</p>
</div>
{% else %}
<div id="modal-body" class="flex h-full flex-col justify-between overflow-hidden p-1">
  <ul class="flex-grow overflow-auto py-4">
    {% for cart_item in cart.cart_items %}
    <li class="flex w-full flex-col border-b border-neutral-300 dark::border-neutral-700">
      <div class="relative flex w-full flex-row justify-between px-1 py-4">
        <div class="absolute z-40 -mt-2 ml-[55px]">
          <button hx-delete="/cart/{{ cart_item.id }}" hx-trigger="click" hx-target="#modal-body" hx-swap="outerHTML"
            aria-label="Remove cart item"
            class="ease flex h-[17px] w-[17px] items-center justify-center rounded-full bg-neutral-500 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="hover:text-accent-3 mx-[1px] w-4 h-4 text-white dark:text-black">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <a href="/product/{{ cart_item.slug }}" class="z-30 flex flex-row space-x-4">
          <div
            class="relative h-16 w-16 cursor-pointer overflow-hidden rounded-md border border-neutral-300 bg-neutral-300 dark:border-neutral-700 dark:bg-neutral-900 dark:hover:bg-neutral-800">
            <img class="h-full w-full object-cover" src="" />
          </div>
          <div class="flex flex-1 flex-col text-base">
            <span class="leading-tight">
              {{ cart_item.name }}
            </span>
          </div>
        </a>
        <div class="flex h-16 flex-col justify-between">
          <p class="flex justify-end space-y-2 text-right text-sm">
            <span class="ml-1 inline">{{ cart_item.price }}</span>
          </p>
          <div
            class="ml-auto flex h-9 flex-row items-center rounded-full border border-neutral-200 dark:border-neutral-700">
            <form hx-put="/cart/{{ cart_item.id }}" hx-trigger="submit" hx-target="#modal-body" hx-swap="outerHTML">
              <input type="hidden" name="operation" value="minus" />
              <button aria-label="Reduce item quantity"
                class="ease flex h-full min-w-[36px] max-w-[36px] flex-none items-center justify-center rounded-full px-2 transition-all duration-200 hover:border-neutral-800 hover:opacity-80">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-4 h-4 dark:text-neutral-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                </svg>
            </form>
            </button>
            <p class="w-6 text-center">
              <span class="w-full text-sm">{{ cart_item.quantity }}</span>
            </p>
            <form hx-put="/cart/{{ cart_item.id }}" hx-trigger="submit" hx-target="#modal-body" hx-swap="outerHTML">
              <input type="hidden" name="operation" value="plus" />
              <button aria-label="Increase item quantity"
                class="ease flex h-full min-w-[36px] max-w-[36px] flex-none items-center justify-center rounded-full px-2 transition-all duration-200 hover:border-neutral-800 hover:opacity-80">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-4 h-4 dark:text-neutral-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="py-4 text-sm text-neutral-500 dark:text-neutral-400">
    <div class="mb-3 flex items-center justify-between border-b border-neutral-200 pb-1 dark:border-neutral-700">
      <p>Taxes</p>
      <p class="text-right text-base text-black dark:text-white">
        <span class="ml-1 inline">{{ cart.total_tax_amount }}</span>
      </p>
    </div>
    <div class="mb-3 flex items-center justify-between border-b border-neutral-200 pb-1 dark:border-neutral-700">
      <p>Shipping</p>
      <p class="text-right">Calculated at checkout</p>
    </div>
    <div class="mb-3 flex items-center justify-between border-b border-neutral-200 pb-1 dark:border-neutral-700">
      <p>Total</p>
      <p class="text-right text-base text-black dark:text-white">
        <span class="ml-1 inline">{{ cart.total_amount }}</span>
      </p>
    </div>
  </div>
  <a href="/checkout"
    class="block w-full rounded-full bg-blue-600 p-3 text-center text-sm font-medium text-white opacity-90 hover:opacity-100">
    Proceed to Checkout
  </a>
</div>
{% endif %}